body {
	min-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
	margin-top: 0;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 0px 20px -5px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}
					/*Иконочный шрифт*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

h2, .hashtag, .results-quantity {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
}
p.text-special {
	color: #ffffff;
	text-align: center;
}
p.text-reasons {
	text-align: center;
	margin: 0;
}
span.title-special, span.title-reasons {
	font-weight: bold;
}
h2.interested {
	font-size: 30px;
	line-height: 24px;
}
p.invite {
	line-height: 24px;
}
.container {
	width: 1200px;
	margin: 0 auto;
/*	outline: 2px solid red;*/
	background-color: #ffffff;
}
 .clearfix::after {
 	content: "";
 	display: table;
 	clear: both;
 }
					/*Header*/
.navigation {
	position: relative;
	padding: 0 6%;
}
.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.navigation li {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding-top: 13px;
	padding-bottom: 14px;
}
.navigation li:first-child, .navigation li:nth-child(2) {
	float: left;
	text-align: left;
}
.navigation li:nth-child(3), .navigation li:last-child  {
	float: right;
	text-align: right;
}
.navigation li:nth-child(4) {
	padding-right: 33px;
	letter-spacing: normal;
}
.navigation li:nth-child(2) {
	padding-left: 30px;
}
.navigation a {
	text-decoration: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}
.navigation a:hover {
	color: #81b3d2;
}
.navigation a:active {
	color: #000000;
	opacity: .3;
}
.navigation a.active {
	color: #766357;
}
.navigation a.active:hover {
	color: #604e43;
}
.navigation a.active:active {
	opacity: .3;
}

.header-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -69px;
	z-index: 2;
}
.header-logo img {
	width: 138px;
	height: 70px;
}

					/*Main*/					
.main-logo {
	position: relative;
	width: 1200px;
	margin: 0;
	padding: 0;
}
.main-logo::after {
	content: "";
	position: absolute;
	width: 100%;
	min-height: 508px;
	top: 0px;
	left: 0px;
	background: url(../img/sedona-welcome.png) center 75px no-repeat,
				url(../img/mask.png) center 451px no-repeat;
}

.lead-block {
	width: 576px;
	margin: 0 auto;
	margin-top: 54px;
	margin-bottom: 50px;
	text-align: center;
}
.lead {
	font-size: 14px;
	line-height: 28px;
	color: #333333;
	margin-top: 26px;
}
.text-special {
	box-sizing: border-box;
	margin: 0;
	height: 256px;
	padding-top: 54px;
	padding-bottom: 35px;
	padding-left: 45px;
	padding-right: 45px;
	background-color: #81b3d2;
	vertical-align: middle;
}
.title-special {
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	padding-bottom: 23px;
}
.number-special {
	display: inline-block;
	padding-bottom: 22px;
}
.left {
	float: left;
	width: 400px;
}
.special-img-right{
	float: right;
	width: 800px;
}
.right {
	float: right;
	width: 400px;
}
.special-img-left {
	float: left;
	width: 800px;
}
.reasons {
	float: left;
	width: 400px;
}
.reasons img {
	width: 75px;
	height: 76px;
	margin-bottom: 22px;
}
.habitation, .food, .souvenirs {
	box-sizing: border-box;
	text-align: center;
	padding-top: 58px;
	padding-left: 47px;
	padding-right: 47px;
	min-height: 330px;
}
.title-reasons {
	display: inline-block;
	width: 140px;
	font-size: 21px;
	line-height: 21px;
	padding-bottom: 24px;
}
.territory, .road, .tourists {
	box-sizing: border-box;
	background-color: #eeeeee;
	padding-top: 47px;
	padding-bottom: 59px;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 56px;
}
.invite {
	display: inline-block;
	padding-top: 5px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 47px;
}
.button-search {
	position: relative;
	width: 568px;
	height: 86px;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 29px;
	padding-bottom: 30px;
	border: none;
	outline: none;
}
					/*Форма поиска*/
.search-window {
	position: relative;
	box-sizing: border-box;
	width: 576px;
}
.hotels-search {
	width: 460px;
	position: absolute;
	left: 50%;
	margin-left: 29px;
	top: 0;
	background-color: #ffffff;
	padding: 55px 53px;
	  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 0px 20px -5px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}
.search-option {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}
.search-option-text {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	padding-top: 0;
	text-align: left;
}

.hotels-search input[type="date"] {
	box-sizing: border-box;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: #000000;
	text-transform: uppercase;
	width: 345px;
	margin: 0;
	margin-bottom: 28px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 30px;
	background-color: #f2f2f2;
	border: none;
  outline: none;
}
.search-option input[type="date"]:hover,
.search-option input[type="number"]:hover {
	background-color: #ebebeb;
}
.search-option input[type="date"]:active,
.search-option input[type="number"]:active {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}
.hotels-search input[type="number"] {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: #000000;
	text-transform: uppercase;
	text-align: right;
	width: 114px;
	padding: 6px 38px;
	background-color: #f2f2f2;
	border: none;
	outline: none;
	margin-right: 50px;
}
.hotels-search input[type="number"] {
	margin-right: 0;
}
.child ~ .search-option-text {
	outline: 1px solid red;
	text-align: center;
}


.hotels-search .btn {
	display: block;
	box-sizing: border-box;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	background-color: #81b3d2;
	padding: 16px 195px;
	text-align: center;
	margin-top: 57px;
	border: none;
	outline: none;
}
.question {
	width: 576px;
	margin: 0 auto;
	text-align: center;
	padding-top: 0;
}
.question h2 {
	padding-top: 0;
	margin-top: 0;
}
.icon-calendar {
	position: absolute;
	 font-family: "symbols-sedona";
	top: 6px;
	right: 5px;
	font-size: 21px;
	color: #bdbbbc;
}
.icon-calendar:hover {
	color: #000000;
}
.icon-calendar:active {
	color: #81b3d2;
}
.icon-plus, .icon-minus {
	position: absolute;
	font-family: "symbols-sedona";
	color: #a9a9a9;
}
.icon-plus {
	top: 6px;
	right: 7px;
}
.icon-minus {
	top: 6px;
	left: 122px;
	z-index: 2;
}
.icon-plus, .icon-minus {
	position: absolute;
	font-family: "symbols-sedona";
	color: #a9a9a9;
}
.icon-plus:hover, .icon-minus:hover {
	color: #000000;
}
.icon-plus:active, .icon-minus:active {
	color: #81b3d2;
}
					/*Footer*/
.main-footer .container {
	padding: 29px 0;
}
.footer {
	float: left;
	width: 400px;
	text-align: center;
	padding: 0;
}
.hashtag p {
	margin: 0;
	padding-top: 10px;
}
.logo-text, .html-logo {
	display: inline-block;
	vertical-align: middle;
}
.logo-text {
	padding-left: 31px;
	margin-right: 4px;
}
.html-logo {
	margin-top: 4px;
}
.social a {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	font-size: 0;
	margin-right: 5px;
	color: #ffffff;
}
.social a:last-child {
	margin-right: 0;
}
.social-btn span {
	font-size: 19px;
	line-height: 48px;
	text-align: center;
}
.social a:hover, .btn:hover {
	background-color: #669ec0;
}
.social a:active, .btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.html-logo {
	width: 113px;
	height: 39px;
	background: url("../img/html.png") center no-repeat;
	margin-right: 30px;
}
.html-logo:hover {
	background: url("../img/html-hover.png") center no-repeat;
	transition: all 0.5s;
}
.html-logo:active {
	background: url("../img/html-active.png") center no-repeat;
	transition: all 0.5s;
}
					/*Hotels*/
.hotels-booking {
	box-sizing: border-box;
	width: 100%;
	padding-top: 26px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 0;
	background: url("../img/background-hotels.jpg") no-repeat;
  margin-bottom: 0;
}
.hotels-booking fieldset {
	border: none;
}
.booking-option {
	display: block;
	margin-bottom: 25px;
}
.infrastructure {
	float: left;
	box-sizing: border-box;
	width: 240px;
	padding-left: 0;
	margin-right: -2px;
}
.type {
	float: left;
	box-sizing: border-box;
	width: 300px;
	margin-left: 9px;
}
.booking-option input[type="checkbox"] {
	display: none;
}
.price {
	float: right;
	box-sizing: border-box;
	width: 330px;
	color: #ffffff;
	padding: 0;
}
.booking-header {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 20px;
}
.booking-option-text {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 39px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
}
.booking-option-text::before {
	content: "\2610";
	position: absolute;
	top: 1;
	left: 0;
	font-family: "symbols-sedona";
	font-size: 26px;
	color: #ffffff;
	cursor: pointer;
}
input[type="checkbox"]:disabled ~ .booking-option-text::before {
	color: #6a6a6a;
}
.booking-option input[type="checkbox"]:checked ~ .booking-option-text::before {
	content: "\2611";
	position: absolute;
	top: 1;
	left: 0;
	font-family: "symbols-sedona";
	font-size: 26px;
	color: #fefefe;
}
.type .booking-option-text {
	padding-left: 41px;
}
.price .booking-header {
	margin-bottom: 11px;
}
					/*Сложный фильтр по цене*/

.price-controls {
  position: relative;
  display: block;
  height: 32px;
  margin-left: 12px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
	display: block;
	margin-left: 12px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.booking-apply-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.booking-apply-button:hover {
  color: #000000;
  background: #ffffff;
}

					/*Область сортировки*/
.searching-results {
	box-sizing: border-box;
	min-height: 87px;
	vertical-align: middle;
	padding-left: 71px;
	padding-right: 73px;
	padding-top: 26px;
	padding-bottom: 16px;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}
.results-list {
	float: left;
	box-sizing: border-box;
	width: 600px;
}
.filter-direction {
	float: right;
	box-sizing: border-box;
	width: 400px;
	text-align: right;
}
.filter-direction a {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 4px;
	font-size: 0;
}
.icon-up-dir, .icon-down-dir {
	font-size: 23px;
	font-family: "symbols-sedona";
	color: #cccccc;
}
.active span[class$="-dir"], a:active span[class$="-dir"] {
	color: #81b3d2;
	transition: all 0.5s;
}
.filter-direction span:hover {
	color: #000000;
}
.results-quantity {
	display: inline-block;
	vertical-align: middle;
	padding-right: 45px;
	margin: 0;
}
.results-list ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.results-list li {
	display: inline-block;
	vertical-align: top;
	padding-right: 33px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.results-list li:first-child {
	padding-right: 40px;
}
.results-list li:last-child {
	padding-right: 0;
}
.results-list a {
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	padding-bottom: 3px;
	color: #000000;
	opacity: 0.3;
}
.results-list a:hover {
	color: #81b3d2;
	transition: all 0.5s;
}
.results-list a:active {
	color: #000000;
	border: none;
	transition: all 0.5s;
}
.results-list a.active {
	color: #81b3d2;
	border: none;
}
.rating-block {
	float: right;
	width: 240px;
	text-align: right;
	font-size: 0;
}
.icon-star {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	color: #81b3d2;
	margin-left: -5px;
	margin-top: 2px;
	padding: 0;
}
.average-rating {
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	vertical-align: top;
	text-align: center;
	width: 110px;
	background-color: #f2f2f2;
	margin-top: 45px;
	padding: 4px 6px;
}
					/*Карточки отелей*/
.accomodation {
	float: left;
	width: 528px;
}
.hotel-option {
	box-sizing: border-box;
	width: 100%;
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 22px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
	min-height: 150px;
}
.hotel-option:last-child {
	margin-bottom: 6px;
}
.accomodation {
	position: relative;
	padding-left: 164px;
}
.accomodation img {
	position: absolute;
	top: 6px;
	left: 0;
	width: 135px;
	height: 90px;
}
.hotel-titles {
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 7px;
	padding-top: 0;
	vertical-align: top;
}
.hotel-titles a {
	color: #000000;
	text-decoration: none;
}
.hotel-titles a:hover {
	color: #81b3d2;
}
.hotel-titles a:active {
	color: rgba(0, 0, 0, 0.3);
}
.hotel-info {
	display: inline-block;
	color: #333333;
	width: 110px;
	margin-right: 3px;
}
.info {
	margin: 0;
	margin-bottom: 15px;
}
.about-button, .booking-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 4px;
	border: none;
	outline: none;
	margin: 0;
}
.about-button {
	width: 110px;
	background-color: #81b3d2;
	margin-right: 3px;
}
.about-button:hover {
	background-color: #669ec0;
}
.about-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.booking-button {
	width: 142px;
	background-color: #766357;
}
.booking-button:hover {
	background-color: #604e43; 
}
.booking-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33; 
}





